<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo/anime_explorer_logo_png_sans_contour.png" alt="Anime Explorer" width="40" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mx-auto justify-content-center"> 
                <li class="nav-item">
                    <a class="nav-link fs-5"
                    routerLinkActive='active'
                    routerLink="/decouvrir">Découvrir
                    </a>
                </li>
                <li class="nav-item "> <!-- Espacement horizontal de 0.75rem (12 pixels) -->
                    <a class="nav-link fs-5"
                    routerLinkActive='active'
                    routerLink="/jeu">Jouer
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link fs-5" 
                    routerLinkActive='active'
                    routerLink="/classement">Classement
                    </a>
                </li>
            </ul>
        </div>
        <!--bouton connexion-->
        <form class="d-flex">
            <a>
                <button class="btn btn-secondary my-2 my-sm-0 fs-6" type="submit">Connexion</button>
            </a>
        </form>
    </div>
</nav>
