<nav class="navbar sticky-top navbar-expand-lg bg-primary w-100" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img width="50" src="../../assets/logo.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul
        class="navbar-nav mx-auto justify-content-center me-auto position-absolute start-50 end-50"
      >
        <li class="nav-item">
          <a
            class="nav-link fs-5 text-center"
            routerLink="/decouvrir"
            routerLinkActive="active"
            >Decouvrir</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 text-center"
            routerLink="/jeu"
            routerLinkActive="active"
            >Jeu
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 text-center"
            routerLink="/classement"
            routerLinkActive="active"
            >Classement</a
          >
        </li>
      </ul>
      <form
        class="d-flex justify-content-center position-absolute end-15px"
        *ngIf="!userIsConnected()"
      >
        <a routerLink="/connexion">
          <button class="btn btn-secondary my-2 my-sm-0 fs-6" type="submit">
            Connexion
          </button>
        </a>
      </form>
      <form
        class="d-flex justify-content-center position-absolute end-15px"
        *ngIf="userIsConnected()"
      >
        <button
          class="btn btn-outline-light my-2 my-sm-0 fs-6"
          type="submit"
          (click)="logout()"
        >
          Deconnexion
        </button>
      </form>
    </div>
  </div>
</nav>
