<nav class="navbar sticky-top navbar-expand-lg bg-primary w-100" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" title="Lien vers la page d'accueil">
      <img width="50" src="../../assets/logo.png" alt="logo animexplorer"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul
        class="navbar-nav mx-auto justify-content-center me-auto position-absolute start-50 end-50"
      >
        <li class="nav-item">
          <a
            class="nav-link fs-5 text-center"
            routerLink="/decouvrir"
            routerLinkActive="active"
            title="Lien vers la page découvrir"
            >Decouvrir</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 text-center"
            routerLink="/jeu"
            routerLinkActive="active"
            title="Lien vers la page jeu"
            >Jeu
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 text-center"
            routerLink="/classement"
            routerLinkActive="active"
            title="Lien vers la page classement"
            >Classement</a
          >
        </li>
      </ul>
      <form
        class="d-flex justify-content-center position-absolute end-15px"
        *ngIf="!userIsConnected()"
      >
        <a routerLink="/connexion" title="Lien vers la page de connexion">
          <button class="btn btn-secondary my-2 my-sm-0 fs-6" type="submit">
            Connexion
          </button>
          
        </a>
      </form>
      <form
        class="d-flex justify-content-center position-absolute end-15px"
        *ngIf="userIsConnected()"
      >
        <button
          class="btn btn-outline-light my-2 my-sm-0 fs-6"
          type="submit"
          (click)="logout()">
          Deconnexion
        </button>
      </form>
    </div>
  </div>
</nav>
