h1 {
  
  font-size: 1.7rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
}
.rouge{
  
  font-size: 1.7rem;
  color: var(--bs-secondary);
  text-transform: uppercase;
  cursor: default;
}