#titre_decouverte {
  text-align: center;
}

.search_button_div {
  position: absolute;
}

.search_button {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  width: 3.5rem;
  height: 3rem;
  background-color: var(--bs-secondary);
  border: 0;
  border-bottom: 0.2rem solid var(--bs-secondary);
  border-radius: 2rem;
  cursor: pointer;
}

.search_button:active {
  border-bottom: 0;
}

.search_button i {
  color: #fff;
  margin-top: 5px;

  font-size: 2rem;
}

.mobile-flex-wrap {
  flex-wrap: initial !important;
}

// Sur mobile .mobile-flex-wrap , flex-wrap = wrap,
@media (max-width: 768px) {
  .mobile-flex-wrap {
    flex-wrap: wrap !important;
  }
}
