<!DOCTYPE html>
<html lang="fr">
  <app-nav-bar></app-nav-bar>
  <main>
    <p>Board Decouvrir</p>
    
    <div class="d-flex justify-content-center align-items-center" >
      <app-search></app-search>

      <app-filtre [typeFiltre]="filtreAnnee"></app-filtre>
      <app-filtre [typeFiltre]="filtreGenre"></app-filtre>
      <app-filtre [typeFiltre]="filtreFormat"></app-filtre>
      
      
     
      
    


    </div>
    <div class="d-flex justify-content-center align-items-center" *ngFor="let image of images">
        <img class="d-flex" [src]="image" alt="Image">
    </div>
  </main>
</html>