.info {
  background-color: var(--bs-primary);
  width: 80%;
  height: 80%;
  position: fixed;
  top: 15%;
  left: 10%;
  z-index: 9999999999;
  opacity: 0.95;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search_button {
  width: 3.5rem;
  height: 3rem;
  background-color: var(--bs-secondary);
  border: 0;
  border-bottom: 0.2rem solid var(--bs-secondary);
  border-radius: 2rem;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.search_button:active {
  border-bottom: 0;
}

.search_button i {
  color: #fff;
  margin-top: 5px;
  font-size: 2rem;
}

.banner_container {
  height: 20%; /* Largeur souhaitée de la bannière */
  overflow: hidden; /* Cache les parties de l'image qui dépassent de la div */
}

.banner_container img {
  width: 100%; /* Prend la largeur totale de son conteneur */
  transform: translateY(-25%); /* Remonte l'image de moitié de sa hauteur */
}

.genre-container p {
  display: inline; /* Affiche chaque paragraphe sur la même ligne */
  text-align: left;
  white-space: nowrap; /* Empêche le passage à la ligne automatique */
}

.studio {
  margin-top: 15px;
}
