<div class="info card border-secondary mb-3" >
    
    <div class="card-header text-light">
        <button class="search_button" (click)="onClick()"> <span class="material-symbols-outlined">close</span></button>
        <h2>
            Informations
        </h2>
    </div>
    
    <div class="card-body text-secondary" >
      <h2 class="card-title text-light">{{nom_english}}</h2>
      <h4 class="card-title text-light">Description</h4>
      <p class="card-text text-light">{{desc}}</p>
      <br>
      <p class="card-text text-light">Episodes : {{episodes}}</p>
      <p class="card-text text-light">Airing status : {{status}}</p>
    </div>
  </div>