<div class="info card border-secondary mb-3">
  <div class="card-header text-light">
    <button class="search_button" (click)="onClick()">
      <span class="material-symbols-outlined">close</span>
    </button>
    <h2>Informations</h2>
  </div>
  <div>
    <div class="banner_container">
      <img src="{{ banner }}" alt="banniere {{ nom_english }}" />
    </div>
    <div class="card-body text-light">
      <div class="d-flex" style="height: 7rem">
        <img
          src="{{ image }}"
          class="position-sticky"
          style="transform: translateY(-130px)"
          height="200px"
          alt="image cover {{ nom_english }}"
        />
        <div class="mx-3 d-flex align-items-end">
          <div class="text-left">
            <h2 class="card-title text-secondary">{{ nom_english }}</h2>
            <h3 class="pl-3 card-title text-gray500">{{ nom_jap }}</h3>
          </div>
        </div>
      </div>
      <h4 class="card-title text-light">Description</h4>
      <p class="card-text text-light" style="white-space-collapse: preserve">
        {{ desc }}
      </p>
      <p class="card-text text-light">
        <span style="font-weight: bold">Format: </span>{{ format }}
      </p>
      <p class="card-text text-light">
        <span style="font-weight: bold">Episodes : </span>{{ episodes }}
      </p>
      <p class="card-text text-light">
        <span style="font-weight: bold">Statut de diffusion: </span>{{ status }}
      </p>
      <p class="card-text text-light">
        <span style="font-weight: bold">Année de sortie : </span>{{ annee }}
      </p>
      <p class="card-text text-light">
        <span style="font-weight: bold">Season de diffusion: </span>{{ season }}
      </p>
      <p class="card-text text-light">
        <span style="font-weight: bold">Score : </span>{{ score }}
      </p>
      <div class="sequence-container">
        <p class="card-text text-light">
          <span style="font-weight: bold">Studios : </span>
        </p>
        <p class="genre card-text text-light" *ngFor="let studio of studios">
          <span>
            {{ studio }}
            <span *ngIf="studio != studios[studios.length - 1]">, </span>
          </span>
        </p>
      </div>
      <div class="sequence-container">
        <p class="card-text text-light">
          <span style="font-weight: bold">Genres : </span>
        </p>
        <p class="genre card-text text-light" *ngFor="let genre of genres">
          <span>
            {{ genre }}
            <span *ngIf="genre != genres[genres.length - 1]">, </span>
          </span>
        </p>
      </div>
      <div class="sequence-container">
        <p class="card-text text-light">
          <span style="font-weight: bold">Tags : </span>
        </p>
        <p class="genre card-text text-light" *ngFor="let tag of tags">
          <span
            >{{ tag }}<span *ngIf="tag != tags[tags.length - 1]">, </span></span
          >
        </p>
      </div>
    </div>
  </div>
</div>
