<!DOCTYPE html>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img width="50" src="../../assets/logo.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeNavLink === 'boardDecouvrir'"
            (click)="onNavLinkClick('boardDecouvrir')"
            href="#"
            >Decouvrir</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeNavLink === 'boardJeu'"
            (click)="onNavLinkClick('boardJeu')"
            href="#"
            >Jeu
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeNavLink === 'boardClassement'"
            (click)="onNavLinkClick('boardClassement')"
            href="#"
            >Classement</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Connexion
        </button>
      </form>
    </div>
  </div>
</nav>
