<app-nav-bar></app-nav-bar>

<main>
  <div class="containerr">
    <div class="left">
      <div class="titre">
        <h1 class="orange">Anime</h1>
        <h1 class="blanc mx-4">Explorer</h1>
      </div>
    </div>
    <div class="contours">
      <div class="right">
        <h3 class="decalage_1">Découvrir des nouveaux animés</h3>
        <a routerLink="/decouvrir" title="Lien vers la page découvrir">
          <button class="btn btn-primary my-2 my-sm-0 fs-6" type="submit">
            Découvrir
          </button>
        </a>
        <p class="description">
          Explorez un large éventail d'animés populaires et découvrez de
          nouvelles séries passionnantes.
        </p>
        <h3 class="decalage">Teste tes connaissances</h3>
        <a routerLink="/decouvrir" title="Lien vers la page jeu">
          <button class="btn btn-primary my-2 my-sm-0 fs-6" type="submit">
            Jouer
          </button>
        </a>
        <p class="description">
          Jouez à des quiz pour tester vos connaissances sur les animés et
          gagnez des points pour monter dans le classement.
        </p>
        <h3 class="decalage">Voir son classement</h3>
        <a routerLink="/classement" title="Lien vers la page classement">
          <button class="btn btn-primary my-2 my-sm-0 fs-6" type="submit">
            Classement
          </button>
        </a>
        <p class="description">
          Consultez le classement et comparez vos scores avec les autres
          joueurs.
        </p>
      </div>
    </div>
  </div>
</main>
