
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" alt="Anime Explorer" width="40" height="40" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="menu-wrapper">
            <ul class="navbar-nav ">
            <li class="nav-item ">
                <a class="nav-link active" style="font-family: 'Hammersmith One'; font-size: larger;" href="#">Découvrir
                <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Hammersmith One'; font-size: larger;" href="#">Jouer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Hammersmith One'; font-size: larger;" href="#">Classement</a>
            </li>
            </ul>
        </div>
        <!--bouton connexion-->
        <form class="d-flex">
          <button class="btn btn-secondary my-2 my-sm-0" style="font-family: 'Hammersmith One'; font-size: larger;" type="submit">Connexion</button>
        </form>
      </div>
    </div>
  </nav> 