<app-nav-bar></app-nav-bar>
<main>
  <app-search-zone (buttonClicked)="verifGuess($event)"></app-search-zone>
  <div
    class="d-flex align-items-center flex-column mx-auto justify-content-center"
  >
    <div
      class="w-100 mt-2 justify-content-center align-items-center d-flex flex-wrap"
      style="margin-top: 20px"
    >
      <span class="badge-genre bg-secondary">
        Année de sortie : {{ getIndices().startDate }}
      </span>
      <span class="badge-genre bg-secondary">
        Saison : {{ getIndices().season }}
      </span>
      <span class="badge-genre bg-secondary">
        Format : {{ getIndices().format }}
      </span>
      <span class="badge-genre bg-secondary">
        Nombre d'episode : {{ getIndices().episodes }}
      </span>
    </div>
  </div>
  <div class="filtre">
    <div class="d-flex" style="margin-top: 30px">
      <h5 class="text-nowrap text-left">Studios :</h5>
      <div class="horizontal-scroll-container" style="margin-left: 50px">
        <ng-container
          *ngFor="let studio of getIndices().studios; let i = index"
        >
          <span class="badge-genre bg-secondary" style="margin-left: 40px">
            {{ studio }}
          </span>
        </ng-container>
      </div>
    </div>
    <div class="d-flex" style="margin-top: 30px">
      <h5 class="text-nowrap text-left">Genres :</h5>
      <div class="horizontal-scroll-container" style="margin-left: 50px">
        <ng-container *ngFor="let genre of getIndices().genres; let i = index">
          <span class="badge-genre bg-secondary" style="margin-left: 40px"
            >{{ genre }}
          </span>
        </ng-container>
      </div>
    </div>
    <div class="d-flex" style="margin-top: 30px">
      <h5 class="text-nowrap text-left">Tags :</h5>
      <div class="horizontal-scroll-container" style="margin-left: 50px">
        <ng-container *ngFor="let tag of getIndices().tags; let i = index">
          <span class="badge-genre bg-secondary" style="margin-left: 40px">
            {{ tag }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
  <div>
    <div class="horizontal-line-container">
      <div class="horizontal-line"></div>
    </div>
    <h5 style="text-align: center; margin-top: 20px">Historique des essais</h5>
    <ng-container *ngFor="let anime of historiqueAnime; let i = index">
      <div class="justify-content-center align-items-center d-flex"></div>
      <div
        class="card"
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 910px;
          margin-left: 20%;
        "
      >
        <img
          class="image_style"
          src="{{ anime.coverImage.large }}"
          alt="Card image cap"
          style="width: 100%"
        />
        <div class="justify-content-center align-items-center d-flex">
          <div class="card-body">
            <h5 class="card-title">(EN) {{ anime.title.english }}</h5>
            <h5 class="card-title">(JP) {{ anime.title.romaji }}</h5>
            <h5 class="card-title">Saison : {{ anime.season }}</h5>
            <h5 class="card-title">Format : {{ anime.format }}</h5>
            <h5 class="card-title">Episodes : {{ anime.episodes }}</h5>
            <div class="d-flex">
              <h5 style="text-align: left; width: 100px">Genres :</h5>
              <div class="horizontal-scroll-container mx-1">
                <ng-container *ngFor="let genre of anime.genres; let i = index">
                  <span class="badge-genre bg-secondary">{{ genre }}</span>
                </ng-container>
              </div>
            </div>
            <div class="d-flex mt-sm-2">
              <h5 style="text-align: left; width: 100px">Tags :</h5>
              <div class="horizontal-scroll-container mx-1">
                <ng-container *ngFor="let tag of anime.tags; let i = index">
                  <span class="badge-genre bg-secondary">{{ tag }}</span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <!-- Ajout d'une balise <br> pour sauter une ligne après chaque animé -->
    </ng-container>
  </div>
</main>
